/* main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh
} */

main{
  margin: 10% auto;
  padding:10px;
  border:2px solid #219ebc;
  border-radius:10px;
  width: 257px;
  display:flex;
  align-items:center;
  flex-direction:column;
  background-color:#023047
}
.NumberButton{
  margin:0px;
  padding:0px;
}
.sign{
 background-color:lightblue;
  color:#023047;
  
}






button{
  color: white;
  text-align:left;
  border: 2px solid white;
  border-radius:5px;
  margin:2px;
  text-align:center;
  height:60px;
  width:60px;
  padding:0px;
  font-size:25px;
  background-color: #023047;
}
input{
 
   width:230px;
   height:70px;
  margin:10px;
  border: 2px solid;
  border-color: #219ebc;

  font-size:25px;
  text-align:right;
  padding-right:10px;
  padding-left:10px;
  
}

button:hover{
  
  cursor:pointer;
}
input:active{
   border-color: #0303a5;
  
}
.All{
  width:188px;
  background-color:lightblue;
  color:#023047;
  
}